alembic==0.7.4
amqp==1.4.6
amqplib==1.0.2
anyjson==0.3.3
Babel==1.3
backports.ssl-match-hostname==3.4.0.2
Beaker==1.5.4
blivet==0.61.0.27
boto==2.34.0
Brlapi==0.6.0
ceilometer==2015.1.0
cffi==0.8.6
chardet==2.2.1
Cheetah==2.4.4
cinder==2015.1.0
cliff==1.10.0
cmd2==0.6.7
configobj==4.7.2
configshell-fb==1.1.14
coverage==3.6b3
croniter==0.3.4
cryptography==0.8.2
cupshelpers==1.0
debtcollector==0.3.0
decorator==3.4.0
di==0.3
Django==1.8.3
django-appconf==0.6
django-compressor==1.4
django-openstack-auth==1.2.0
django-pyscss==1.0.5
dnspython==1.12.0
docutils==0.12
dogpile.cache==0.5.5
dogpile.core==0.4.1
ecdsa==0.11
elasticsearch==1.4.0
enum34==1.0
ethtool==0.8
eventlet==0.17.4
extras==0.0.3
firstboot==19.5
fixtures==0.3.14
fros==1.0
futures==2.1.6
glance==2015.1.0
glance-store==0.4.0
greenlet==0.4.2
heat==2015.1.0
horizon==2015.1.0
httplib2==0.7.7
iniparse==0.4
initial-setup==0.3.9.23
ipaddr==2.1.9
IPy==0.75
iso8601==0.1.10
javapackages==1.0.0
Jinja2==2.7.2
jsonpatch==1.2
jsonpath-rw==1.2.3
jsonpointer==1.0
jsonrpclib==0.1.3
jsonschema==2.3.0
kazoo==2.0
keyring==5.0
keystone==2015.1.0
keystonemiddleware==1.5.1
kitchen==1.1.1
kmod==0.1
kombu==3.0.23
langtable==0.0.13
ldappool==1.0
lesscpy===0.9j
lockfile==0.9.1
lxml==3.2.1
M2Crypto==0.21.1
Mako==0.8.1
Markdown==2.4.1
MarkupSafe==0.11
mock==1.0.1
monasca-ui==1.0.28.dev23
msgpack-python==0.4.6
MySQL-python==1.2.3
ncclient==0.4.2
netaddr==0.7.12
netifaces==0.10.4
networkx==1.8.1
neutron==2015.1.0
nose==1.3.0
nova==2015.1.0
numpy==1.7.1
oauthlib==0.6.0
oslo.concurrency==1.8.2
oslo.config==1.9.3
oslo.context==0.2.0
oslo.db==1.7.1
oslo.i18n==1.5.0
oslo.log==1.0.0
oslo.messaging==1.8.3
oslo.middleware==1.0.0
oslo.policy==0.3.1
oslo.rootwrap==1.6.0
oslo.serialization==1.4.0
oslo.utils==1.4.0
oslo.versionedobjects==0.1.1
oslo.vmware==0.11.1
osprofiler==0.3.0
packstack===2015.1.dev1589.g1d6372f
paramiko==1.15.1
passlib==1.5.3
Paste==1.7.5.1
PasteDeploy==1.5.0
pbr==0.10.8
pciutils==1.7.3
Pillow==2.0.0
Pint==0.6
ply==3.4
policycoreutils-default-encoding==0.1
posix-ipc==0.9.8
prettytable==0.7.2
psutil==1.2.1
pyasn1==0.1.6
pycadf==0.8.0
pycparser==2.10
pycrypto==2.6.1
pycups==1.9.63
pycurl==7.19.0
PyECLib==1.0.7
Pygments==1.4
pygobject==3.8.2
pygpgme==0.3
pyinotify==0.9.4
pykickstart==1.99.43.17
pyliblzma==0.5.3
pymemcache==1.2.5
pyOpenSSL==0.13.1
PyPAM==0.5.0
pyparsing==2.0.3
pyparted==3.9
pysaml2==3.0.0
pyScss==1.2.1
pysendfile==2.0.0
pysnmp==4.2.5
python-augeas==0.4.1
python-ceilometerclient==1.0.13
python-cinderclient==1.2.1
python-dateutil==1.5
python-dmidecode==3.10.13
python-glanceclient==0.17.0
python-heatclient==0.6.0
python-keystoneclient==1.3.0
python-ldap==2.4.15
python-meh==0.25.2
python-memcached==1.48
python-mimeparse==0.1.4
python-monascaclient==1.0.19
python-neutronclient==2.4.0
python-novaclient==2.23.0
python-nss==0.16.0
python-openstackclient==1.0.3
python-saharaclient==0.9.0
python-swiftclient==2.4.0
python-troveclient==1.0.9
pytz==2015.6
pyudev==0.15
pyxattr==0.5.1
PyYAML==3.10
qpid-python==0.30
redis==2.10.3
repoze.lru==0.4
repoze.who==2.1
requests==2.7.0
retrying==1.2.3
rfc3986==0.2.0
rhnlib==2.5.65
rhsm==1.13.10
Routes==1.13
rtslib-fb==2.1.50
scipy==0.12.1
semantic-version==2.4.1
seobject==0.1
sepolicy==1.1
setroubleshoot==1.1
simplegeneric==0.8
simplejson==3.5.3
six==1.9.0
slip==0.4.0
slip.dbus==0.4.0
SQLAlchemy==1.0.5
sqlalchemy-migrate==0.9.6
sqlparse==0.1.11
stevedore==1.3.0
suds==0.4.1
swift==2.3.0
swift3==1.7.0
targetcli-fb===2.1.fb37
taskflow==0.7.1
Tempita==0.5.1
testtools==1.1.0
tooz==0.13.2
urlgrabber==3.10
urllib3==1.10.2
urwid==1.1.1
versiontools==1.9.1
virtualenv==13.0.3
warlock==1.0.1
WebOb==1.2.3
websockify==0.6.0
Werkzeug==0.9.1
wheel==0.24.0
wrapt==1.10.4
WSME==0.6
XStatic==1.0.1
XStatic-Angular==1.3.7.0
XStatic-Angular-Bootstrap==0.11.0.2
XStatic-Angular-lrdragndrop==1.0.2.2
XStatic-Angular-Mock==1.2.1.1
XStatic-Bootstrap-Datepicker==1.3.1.0
XStatic-Bootstrap-SCSS==3.2.0.0
XStatic-D3==3.1.6.2
XStatic-Font-Awesome==4.1.0.0
XStatic-Hogan==2.0.0.2
XStatic-Jasmine==1.3.1.1
XStatic-jQuery==1.10.2.1
XStatic-JQuery-Migrate==1.2.1.1
XStatic-jquery-ui==1.10.4.1
XStatic-JQuery.quicksearch==2.0.3.1
XStatic-JQuery.TableSorter==2.14.5.1
XStatic-JSEncrypt==2.0.0.2
XStatic-Magic-Search==0.2.0.1
XStatic-QUnit==1.14.0.2
XStatic-Rickshaw==1.5.0.0
XStatic-smart-table==1.4.5.3
XStatic-Spin==1.2.5.2
XStatic-term.js==0.0.4.2
yum-langpacks==0.4.2
yum-metadata-parser==1.1.4
zope.interface==4.0.5
