# Copyright 2016 FUJITSU LIMITED

################################################################################
# Host definitions. Replace node_1, openstack_host, ssh_user_node_1, and
# ssh_user_openstack with valid informations
################################################################################

localhost                        ansible_connection=local

# Openstack Hosts
horizon-node                     ansible_ssh_host="{{ openstack_host }}" ansible_ssh_user="{{ ssh_user_openstack }}"
keystone-node                    ansible_ssh_host="{{ openstack_host }}" ansible_ssh_user="{{ ssh_user_openstack }}"

# Monasca Agent Hosts
openstack-monasca-agent-node     ansible_ssh_host="{{ openstack_host }}" ansible_ssh_user="{{ ssh_user_openstack }}"

# Monasca Log Agent Hosts
openstack-monasca-log-agent-node ansible_ssh_host="{{ openstack_host }}" ansible_ssh_user="{{ ssh_user_openstack }}"

# Monasca host
monasca-node                     ansible_ssh_host="{{ node_1_admin_ip }}"

# Kibana
kibana-node                      ansible_ssh_host="{{ node_1_admin_ip }}"

# Elasticsearch
elasticsearch-node               ansible_ssh_host="{{ node_1_admin_ip }}"

# networks
internal-node-1                  ansible_ssh_host="{{ node_1_internal_ip }}"
public-node-1                    ansible_ssh_host="{{ node_1_public_ip }}"

# Monasca-api
monasca-api-node                 ansible_ssh_host="{{ node_1_admin_ip }}"

# Monasca-log-api
monasca-log-api-node             ansible_ssh_host="{{ node_1_admin_ip }}"

# Grafana node
grafana-node                     ansible_ssh_host="{{ node_1_admin_ip }}"

# Offline Host
offline-resources-node           ansible_ssh_host="{{ offline_resources_host | default('') }}"

################################################################################
# Agent and Log-Agent group definition:
# To install additional agents (metrics and logs) add nodes to
# monasca_agent_group or monasca_log_agent_group. Run ansible-playbook
# monasca-agent.yml or ansible-playbook monasca-log-agent.yml to install agents.
################################################################################

[monasca_agent_group]
openstack-monasca-agent-node

[monasca_log_agent_group]
openstack-monasca-log-agent-node

################################################################################
# Other group definition
################################################################################

[openstack_group]
horizon-node
keystone-node

[openstack_uninstaller_group]
horizon-node
keystone-node

[kibana_group]
kibana-node es_node_for_kibana=elasticsearch-node kibana_listen_ip=internal-node-1

[monasca_api_group]
monasca-api-node database_node_for_api=internal-node-1 influxdb_node_for_api=internal-node-1 monasca_api_listen_ip=public-node-1

[monasca_log_api_group]
monasca-log-api-node log_api_listen_ip=public-node-1

[monasca_group]
monasca-node

################################################################################
# Group inheritance
################################################################################

[elkstack_group:children]
monasca_log_agent_group

[all_group:children]
openstack_group
monasca_agent_group
monasca_log_agent_group

[openstack_group:children]
openstack_uninstaller_group
