# Copyright 2016 FUJITSU LIMITED

################################################################################
# Host definitions. Replace node_1, openstack_host, offline_resources_host,
# ssh_user_node_1, ssh_user_offline_host and ssh_user_openstack with valid
# informations
################################################################################

localhost                        ansible_connection=local

# Offline Host
offline-resources-node           ansible_ssh_host={{ offline_resources_host }} ansible_ssh_user={{ ssh_user_offline_host }}

# Openstack Hosts
horizon-node                     ansible_ssh_host={{ openstack_host }} ansible_ssh_user={{ ssh_user_openstack }}
keystone-node                    ansible_ssh_host={{ openstack_host }} ansible_ssh_user={{ ssh_user_openstack }}

# Monasca Agent Hosts
openstack-monasca-agent          ansible_ssh_host={{ openstack_host }} ansible_ssh_user={{ ssh_user_openstack }}

# Monasca Log Agent Hosts
openstack-monasca-log-agent      ansible_ssh_host={{ openstack_host }} ansible_ssh_user={{ ssh_user_openstack }}

################################################################################
# Agent and Log-Agent group definition:
# To install additional agents (metrics and logs) add nodes to
# monasca_agent_group or monasca_log_agent_group. Run ansible-playbook
# monasca-agent.yml or ansible-playbook monasca-log-agent.yml to install agents.
################################################################################

[monasca_agent_group]
openstack-monasca-agent

[monasca_log_agent_group]
openstack-monasca-log-agent

################################################################################
# Other group definition
################################################################################

[offline_group]
offline-resources-node
localhost

[openstack_group]
horizon-node
keystone-node

[openstack_uninstaller_group]
horizon-node
keystone-node

################################################################################
# Group inheritance
################################################################################

[elkstack_group:children]
monasca_log_agent_group

[all_group:children]
offline_group
openstack_group
monasca_agent_group
monasca_log_agent_group

[openstack_group:children]
openstack_uninstaller_group
