[offline_group]
offline-resources-host           ansible_ssh_host={{ monasca_host }} ansible_ssh_user=vagrant

[openstack_group]
openstack-host                   ansible_ssh_host={{ openstack_host }} ansible_ssh_user=vagrant
openstack-monasca-agent          ansible_ssh_host={{ openstack_host }} ansible_ssh_user=vagrant
openstack-monasca-log-agent      ansible_ssh_host={{ openstack_host }} ansible_ssh_user=vagrant

[monasca_group]
monasca-host                     ansible_ssh_host={{ monasca_host }} ansible_ssh_user=vagrant
monasca-monasca-agent            ansible_ssh_host={{ monasca_host }} ansible_ssh_user=vagrant
monasca-monasca-log-agent        ansible_ssh_host={{ monasca_host }} ansible_ssh_user=vagrant

[all_group:children]
offline_group
openstack_group
monasca_group
