# Offline Hosts
offline-resources-node           ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}
localhost                        ansible_connection=local

# Openstack Hosts
horizon-node                     ansible_ssh_host={{ openstack_host }} ansible_ssh_user={{ ssh_user_openstack }}
keystone-node                    ansible_ssh_host={{ openstack_host }} ansible_ssh_user={{ ssh_user_openstack }}

# Monasca Hosts
cmm-node                         ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Monasca Agent Hosts
cmm-monasca-agent                ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}
openstack-monasca-agent          ansible_ssh_host={{ openstack_host }} ansible_ssh_user={{ ssh_user_openstack }}

# Monasca Log Agent Hosts
cmm-monasca-log-agent            ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}
openstack-monasca-log-agent      ansible_ssh_host={{ openstack_host }} ansible_ssh_user={{ ssh_user_openstack }}

# ElasticSearch nodes for cluster
elastic-node-1                   ansible_ssh_host={{ ex_node_1_host }} ansible_ssh_user={{ ssh_user_ex_node_1 }}
elastic-node-2                   ansible_ssh_host={{ ex_node_2_host }} ansible_ssh_user={{ ssh_user_ex_node_2 }}
elastic-node-3                   ansible_ssh_host={{ ex_node_3_host }} ansible_ssh_user={{ ssh_user_ex_node_3 }}

# Kafka nodes for cluster
kafka-node-1                     ansible_ssh_host={{ ex_node_1_host }} ansible_ssh_user={{ ssh_user_ex_node_1 }}
kafka-node-2                     ansible_ssh_host={{ ex_node_2_host }} ansible_ssh_user={{ ssh_user_ex_node_2 }}
kafka-node-3                     ansible_ssh_host={{ ex_node_3_host }} ansible_ssh_user={{ ssh_user_ex_node_3 }}

# Zookeeper nodes for cluster
zookeeper-node-1                 ansible_ssh_host={{ ex_node_1_host }} ansible_ssh_user={{ ssh_user_ex_node_1 }}
zookeeper-node-2                 ansible_ssh_host={{ ex_node_2_host }} ansible_ssh_user={{ ssh_user_ex_node_2 }}
zookeeper-node-3                 ansible_ssh_host={{ ex_node_3_host }} ansible_ssh_user={{ ssh_user_ex_node_3 }}

# log persister nodes for cluster
log-perister-node-1              ansible_ssh_host={{ ex_node_1_host }} ansible_ssh_user={{ ssh_user_ex_node_1 }}
log-perister-node-2              ansible_ssh_host={{ ex_node_2_host }} ansible_ssh_user={{ ssh_user_ex_node_2 }}
log-perister-node-3              ansible_ssh_host={{ ex_node_3_host }} ansible_ssh_user={{ ssh_user_ex_node_3 }}

# log transformer nodes for cluster
log-transformer-node-1           ansible_ssh_host={{ ex_node_1_host }} ansible_ssh_user={{ ssh_user_ex_node_1 }}
log-transformer-node-2           ansible_ssh_host={{ ex_node_2_host }} ansible_ssh_user={{ ssh_user_ex_node_2 }}
log-transformer-node-3           ansible_ssh_host={{ ex_node_3_host }} ansible_ssh_user={{ ssh_user_ex_node_3 }}

# memcached nodes for cluster
memcached-node-1                 ansible_ssh_host={{ ex_node_1_host }} ansible_ssh_user={{ ssh_user_ex_node_1 }}
memcached-node-2                 ansible_ssh_host={{ ex_node_2_host }} ansible_ssh_user={{ ssh_user_ex_node_2 }}
memcached-node-3                 ansible_ssh_host={{ ex_node_3_host }} ansible_ssh_user={{ ssh_user_ex_node_3 }}

[offline_group]
offline-resources-node
localhost

[openstack_group]
horizon-node
keystone-node

[monasca_group]
cmm-node

[memcached_group]
memcached-node-1
memcached-node-2
memcached-node-3

[kafka_group]
kafka-node-1
kafka-node-2
kafka-node-3

[zookeeper_group]
zookeeper-node-1
zookeeper-node-2
zookeeper-node-3

[monasca_agent_group]
cmm-monasca-agent
openstack-monasca-agent

[monasca_log_agent_group]
cmm-monasca-log-agent
openstack-monasca-log-agent

[elkstack_group:children]
elasticsearch_group
kibana_group
monasca_log_agent_group
monasca_log_persister_group
monasca_log_transformer_group

[monasca_log_persister_group]
log-perister-node-1
log-perister-node-2
log-perister-node-3

[monasca_log_transformer_group]
log-transformer-node-1
log-transformer-node-2
log-transformer-node-3

[elasticsearch_group]
elastic-node-1
elastic-node-2
elastic-node-3

[kibana_group]
cmm-node

[openstack_uninstaller_group]
horizon-node
keystone-node

[monasca_uninstaller]
cmm-node

[all_group:children]
offline_group
openstack_group
monasca_group
monasca_agent_group

[openstack_group:children]
openstack_uninstaller_group

[monasca_group:children]
elkstack_group
memcached_group
kafka_group
zookeeper_group
