# Copyright 2016 FUJITSU LIMITED

################################################################################
# Host definitions. Replace monasca_host, openstack_host, ssh_user_monasca and
# ssh_user_openstack with valid informations
################################################################################

localhost                        ansible_connection=local

# Offline Host
offline-resources-node           ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Monasca host
cmm-node                         ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Monasca-log-transfomer
log-transformer-node             ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Monasca-log-persister
log-persister-node               ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Kibana
kibana-node                      ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Elasticsearch
elasticsearch-node               ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Memcached
memcached-node                   ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Kafka
kafka-node                       ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Zookeeper
zookeeper-node                   ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Monasca-api
monasca-api-node                 ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Monasca-log-api
monasca-log-api-node             ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Monasca-notification
monasca-notification-node        ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Monasca-persister node
monasca-persister-node           ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Monasca Agent Hosts
cmm-monasca-agent                ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Monasca Log Agent Hosts
cmm-monasca-log-agent            ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Storm Nimbus node
storm-nimbus-node                ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Storm Supervisor node
storm-supervisor-node            ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Monasca-thresh host
monasca-thresh-node              ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# MariaDB node
mariadb-node                     ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

# Elasticsearch Curator
elasticsearch-curator-node       ansible_ssh_host={{ monasca_host }} ansible_ssh_user={{ ssh_user_monasca }}

################################################################################
# Agent and Log-Agent group definition:
# To install additional agents (metrics and logs) add nodes to
# monasca_agent_group or monasca_log_agent_group. Run ansible-playbook
# monasca-agent.yml or ansible-playbook monasca-log-agent.yml to install agents.
################################################################################

[monasca_agent_group]
cmm-monasca-agent

[monasca_log_agent_group]
cmm-monasca-log-agent

################################################################################
# Other group definition
################################################################################

[offline_group]
offline-resources-node
localhost

[memcached_group]
memcached-node

[kafka_group]
kafka-node

[zookeeper_group]
zookeeper-node

[monasca_group]
cmm-node

[monasca_api_group]
monasca-api-node database_node_for_api=cmm-node

[monasca_notification_group]
monasca-notification-node database_node_for_notification=cmm-node

[monasca_persister_group]
monasca-persister-node

[monasca_log_api_group]
monasca-log-api-node

[monasca_log_persister_group]
log-persister-node

[monasca_log_transformer_group]
log-transformer-node

[elasticsearch_group]
elasticsearch-node

[kibana_group]
kibana-node es_node_for_kibana=elasticsearch-node

[monasca_uninstaller]
cmm-node

[storm_nimbus_group]
storm-nimbus-node

[storm_supervisor_group]
storm-supervisor-node

[monasca_thresh_group]
monasca-thresh-node database_node_for_thresh=cmm-node

[mariadb_group]
mariadb-node

[elasticsearch_curator_group]
elasticsearch-curator-node

################################################################################
# Group inheritance
################################################################################

[elkstack_group:children]
elasticsearch_group
kibana_group
monasca_log_agent_group
monasca_log_persister_group
monasca_log_transformer_group
elasticsearch_curator_group

[storm_group:children]
storm_nimbus_group
storm_supervisor_group

[all_group:children]
offline_group
monasca_group
monasca_agent_group

[monasca_group:children]
elkstack_group
memcached_group
kafka_group
zookeeper_group
monasca_log_api_group
monasca_api_group
monasca_notification_group
monasca_persister_group
storm_group
monasca_thresh_group
mariadb_group
